In [1]:
import pandas as pd

### Задача 44: 
> В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего из 1 столбца. Ваша задача перевести его в one hot вид. 
> Сможете ли вы это сделать без get_dummies?
```
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head()

In [2]:
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head()

  whoAmI
0  robot
1  robot
2  human
3  robot
4  human

In [3]:
data.loc[data['whoAmI'] == 'robot', 'robot'] = True
data.loc[data['whoAmI'] != 'robot', 'robot'] = False
data.loc[data['whoAmI'] == 'human', 'human'] = True
data.loc[data['whoAmI'] != 'human', 'human'] = False
data.loc[data['whoAmI'] == 'robot', 'one_hot'] = 0
data.loc[data['whoAmI'] == 'human', 'one_hot'] = 1
data[['robot', 'human', 'one_hot']]

    robot  human  one_hot
0    True  False      0.0
1    True  False      0.0
2   False   True      1.0
3    True  False      0.0
4   False   True      1.0
5    True  False      0.0
6   False   True      1.0
7    True  False      0.0
8   False   True      1.0
9   False   True      1.0
10   True  False      0.0
11  False   True      1.0
12   True  False      0.0
13  False   True      1.0
14   True  False      0.0
15  False   True      1.0
16  False   True      1.0
17   True  False      0.0
18  False   True      1.0
19   True  False      0.0